<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2> Send to friends! </h2>    
    <form action='/getRestaurant' method='post'>
      
      <% for(var i = 0; i < count; i++) {%>
        <input type='text' name='name<%=i+1%>' placeholder='Friend name <%=i+1%>' style="font-size: 2em" size="70"> <input type='text' name='email<%=i+1%>' placeholder='Friend email <%=i+1%>' style="font-size: 2em"> <br>
      <% } %>
    </form>
    <a href="/incrCount">Add more friends</a> <br>
    <input id="button" type='submit' value='Submit' style="font-size: 2em"> 
  </body>
</html> 

