<!DOCTYPE html>
 <link rel='stylesheet' href='stylesheets/bootstrap.min.css'>
 <link rel='stylesheet' href='stylesheets/bootstrap-responsive.css'>

<html>
  <head>
    <title><%=title%></title>
  </head>
  <body>
    <h1> Order confirmation! </h1> 
    <% var grandTotal = 0; %>
    <% for(var i = 0; i < list.length; i++) { %>
      <% var json = JSON.parse(list[i]); %>
      <h2> <%=json.name%>: </h2>
      <% var foods = json.orderedFoods; %>
      <% var prices = json.orderedPrices; %>
      <% var total = 0; %>
      <% for(var j = 0; j < foods.length; j++) {%>
        <% total = total + (+prices[j]); %>
        <%=foods[j]%> <%=prices[j]%> <br>
      <% } %>
      <% grandTotal = grandTotal + total; %>
      <h2> TOTAL: $<%=total%> </h2>
    <% } %> 
    <h1> GRAND TOTAL: $<%=Math.round(grandTotal * 100) / 100 %> + DELIVERY FEE: <%=fee%> </h1>
    <h2> Now, call this number to place your order: <%=phone%> </h2>
    <h2> Get it delivered via PostMates!!! <form action = '/confirm' method='post'> <input id="button" type='submit' value="Submit order to PostMaster!" style="font-size: 2em"> </form> </h2>

  </body>
</html> 

