<script type="text/javascript" src="postmates.js"></script> 

<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2> The estimated cost of your delivery from <%= pickup_address %> to <%= dropoff_address %> is <%= fee%>. </h2>
    <h2> Which dishes would you like to order? </h2>
    <form action='/submitUserOrder' method='post'>

        <% for(var i = 0; i < foods.length; i++) { %>
            Food: <%=foods[i] %> Price: <%=prices[i]%> <input type="checkbox" name="food<%=i%>" value="1"> <br>
        <% } %>
    <input id="button" type='submit' value='Submit' style="font-size: 2em"> 
    </form>
  </body>
</html> 